# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\tyler\IdeaProjects\CSCI3320-Data-Structures\CSCI-3320-ZC-F20-PA1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
